/* Styles globaux */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Empêche le défilement */
    height: 100%; /* Assure que la hauteur du body et de html correspond à 100% de la fenêtre */
    background-color: #002244; /* Ajout d'un bleu foncé pour le fond */
}

/* Container styles */
.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh; /* Assure que l'erreur occupe tout l'écran */
    width: 100%; /* Étend le conteneur sur toute la largeur */
    background: linear-gradient(135deg, #003366, #001122);
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Image styles */
.error-image {
    width: 600px; /* Taille augmentée */
    height: 600px;
    object-fit: contain;
    margin-right: 30px;
    animation: float 3s ease-in-out infinite;
}

/* Text container styles */
.error-text-container {
    text-align: left;
}

/* Title styles */
.error-title {
    font-size: 4rem; /* Augmenté de 2x */
    color: #ffffff; /* Couleur blanche pour contraster avec le bleu foncé */
    margin-bottom: 10px;
}

/* Message styles */
.error-message {
    font-size: 1.5rem; /* Augmenté de 2x */
    color: #cccccc; /* Gris clair pour un bon contraste */
}

/* Link styles */
.error-link {
    color: #4CAF50;
    text-decoration: underline;
    font-weight: bold;
}

/* Float animation */
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
